
Skip to content
This repository

    Pull requests
    Issues
    Marketplace
    Gist

    @nightlinx

42
636

    717

johnpapa/angular-tour-of-heroes
Code
Issues 4
Pull requests 3
Projects 0
Wiki
angular-tour-of-heroes/.gitignore
444d878 on 25 Apr
@johnpapa johnpapa Cli migration (#120)
43 lines (35 sloc) 516 Bytes
# See http://help.github.com/ignore-files/ for more about ignoring files.

# compiled output
/dist
/tmp
/out-tsc

# dependencies
/node_modules

# IDEs and editors
/.idea
.project
.classpath
.c9/
*.launch
.settings/
*.sublime-workspace

# IDE - VSCode
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json

# misc
/.sass-cache
/connect.lock
/coverage
/libpeerconnection.log
npm-debug.log
testem.log
/typings

# e2e
/e2e/*.js
/e2e/*.map

# System Files
.DS_Store
Thumbs.db

