<div style="overflow-x:auto;">
  <div class="about">
    <h1>Welcome in Bonanza!</h1>
    <p>
      Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy
      eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam
      voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita
      kasd gubergren, no sea takimata sanctus est.
    </p>
    <button routerLink="/items">
      Let's start!
   </button>
  <img src="../../../assets/icons/Super-Mario-Pixel.png">
</div>
</div>
