/*
background: #edf3f7
mint: e9f2e8
dark mint: #9bce9a
orange: f4f2f2
brown: cccbc6
black: #626363
grey : dddddd
blue light:

black: rgb(42,49,50)
very white blue: rgb(209,225,233)
white blue: rgb(74,125,146)
blue: rgb(53,110,132)
black blue: rgb(35, 83, 103)
balck black blue: rgb(28,69,88)
cream: rgb(240,240,340)
hborders: rgb(221,221,221)
background: rgb(234,234,234)

orange: E68863;
dark orange: BA6E50;
*/

div {
  overflow-y: visible;
}

nav.top-bar {
  position: fixed;
  top: 0px;
  width: 100%;
  height: 30px;
  background-color:rgb(42,49,50);
}

span.logo {
  font-family: 'VT323', monospace;
  color: white;
  font-weight: bold;
  font-size: 25px;
  min-width: 25vh;
  width: 15%;
  padding: 20px 0 0 5px;
  color: rgb(240,240,340);
  cursor: pointer;
}

nav.top-bar a{
  margin-left: 30px;
  text-decoration: none;
  padding: 4px;
  border-radius: 3px;
  font-weight: bold;
}

nav.top-bar a:hover{
  background-color: #E68863;
}
