<div>
  <table>
    <tr>
      <th>Id</th>
      <th>Title</th>
      <th>Category</th>
      <th>Medium</th>
    </tr>
    <tr>
      <td>
        <button (click)="add(itemTitle.value, itemCategory.value, itemMedium.value); itemTitle.value=''; itemCategory.value=''; itemMedium.value=''">Add</button>
      </td>
      <td><input #itemTitle /></td>
      <td>
        <select #itemCategory>
          <option value="game">game</option>
          <option value="album">album</option>
        </select>
      </td>
      <td>
        <select #itemMedium >
          <option value="digital">digital</option>
          <option value="physical">physical</option>
        </select>
      </td>
    </tr>
    <tr *ngFor="let item of items">
      <td>{{item.id}}</td>
      <td>{{item.title}}</td>
      <td>{{item.category}}</td>
      <td>{{item.medium}}</td>
      <button class="delete"
        (click)="delete(item); $event.stopPropagation()">x</button>
    </tr>

  </table>
</div>
