div {
    font-family: arial, sans-serif;
}

h1 {
  font-size: 30px;
  text-align: center;
  margin-top: 50px;
  margin-bottom: 30px;
}

#itemSearcher {
  display: block;
  margin: 0px auto 50px auto;
  padding: 5px;
  font-size: 15px;
  width: 100%;
  max-width: 60%;
}

button {
  cursor: pointer;
  border: none;
  border-radius: 50%;
}

button.operation{
  background-color: #dbd9d9;
  color: white;
  width: 25px;
  height: 25px;
  margin: 0 auto;
  display: block;

}

button:focus{
  padding: 0px;
}

button.operation:hover{
    transition-duration: 0.4s;
}

button.operation.save:hover {
  background-color: #59c940;
}
button.operation.save:active {
  background-color: #317023;
  color: #828282;
}

button.operation.delete:hover {
  background-color: #d81e3a;
}

button.operation.delete:active {
  background-color: #8e1c2d;
  color: #828282;
}




table {
    border-collapse: separate;
    width: 100%;
    max-width: 70%;
    margin: 20px auto 20px auto;
}

table th{
    border: 1px solid #dddddd;
    background-color: #f4f2f2;
    text-align: center;
    padding: 8px;
}

table td{
  border: none;
    border-bottom: 1px solid #dddddd;
    text-align: left;
    padding: 5px;
}

.icon {
  background-repeat: no-repeat;
  background-size: auto 100%;
  display: block;
  margin: 0px auto;
  width: 30px;
  height: 30px;
}

.icon.digital {
    background-image:url('../assets/icons/digital.png');
}
.icon.physical {
    background-image:url('../assets/icons/physical.png');
}
.icon.game {
    background-image:url('../assets/icons/game.png');
}
.icon.album {
    background-image:url('../assets/icons/album.png');
}

.itemTitle{
    width: 75%;
}
.itemCategory{
    width: 10%;
}
.itemMedium{
    width: 10%;
}


table td select {
    padding: 5px;
    width: 100%;
}

table td input {
  box-sizing: border-box; /*genialne! Inaczej input wychodzi poza tabelke*/
  width: 100%;
  padding: 5px;
}
