div {
  overflow-y: visible;
}

nav.top-bar {
  position: fixed;
  top: 0px;
  width: 100%;
  height: 25px;
  background-color:rgb(42,49,50);
}

span.logo {
  font-family: 'VT323', monospace;
  color: white;
  font-weight: bold;
  font-size: 25px;
  min-width: 25vh;
  width: 15%;
  padding: 20px 0 20px 5px;
  color: rgb(240,240,340);
  cursor: pointer;
}

#itemSearcher {
  display: block;
  margin: 50px auto 20px auto;
  padding: 5px;
  font-size: 12px;
  width: 80%;
  max-width: 70%;
  background-color: #edf3f7;
  color: rgb(28,69,88);
  border: 3px solid #dddddd;
}

#itemSearcher:hover, #itemSearcher:focus{
  border: 3px solid rgb(74,125,146);
}

input, select {
  font-family: "Arial", sans-serif;
  font-size: 12px;
  border-radius: 4px;
  background-color: rgb(35, 83, 103);
  border: 2px solid rgb(28,69,88);
  border-top: none;
  border-left: none;
  color: rgb(160,160,160);
}

input:hover, input:focus, select:hover, select:focus{
  background-color: rgb(28,69,88);
  color: #dddddd;
}

select{
  cursor: pointer;
  color: rgb(160,160,160);
  -webkit-appearance: none;
   -moz-appearance: none;
        appearance: none;
}

select option: hover{
  background-color: black;
}

table.formContent{
  height: 70px;
  width: 100%;
  max-width: 80%;
  margin: 0 auto 0 auto;
  padding: 10px;
  background-color: rgb(53,110,132);
  border: 3px solid rgb(74,125,146);
  box-shadow: 1px 0.5px 0.5px 0.5px rgba(0, 0, 0, 0.1), 1px 1px 1px 1px rgba(0, 0, 0, 0.05);
}

table.formContent td {
    text-align: center;
}

.headerCategory select, .headerMedium select {
  width: 100%;
  height: 31px;
  padding-left: 0px;
  font-size: 10px;
}

button {
  cursor: pointer;
  border: none;
}

button.operation{
  background-color: white;
  color: white;
  width: 28px;
  height: 28px;
  margin: 0 auto;
  display: block;
  font-size: 17px;
  font-weight: bold;
  border: 1px solid #dddddd;
  border-radius: 50%;
  border: none;
  box-shadow: 1px 1px 1px 0.5px rgba(0, 0, 0, 0.1), 1px 1px 1px 1px rgba(0, 0, 0, 0.05);
  padding: 0px;
}

button:focus{
  padding: 0px;
}

button.operation.save{
  background-color: #E68863;
}

button.operation.save:hover{
  background-color: #BA6E50;
}

button.operation.delete{
  background-color: rgb(74,125,146);
  border: none;
}

button.operation:hover {
  background-color: rgb(126,171,190);
}

button.operation:active {
  box-shadow: none;
  background-color: rgb(35, 83, 103);
}


table {
  background-color: white;
  border-collapse: separate;
  border: 0;
  border-spacing: 0;
  width: 100%;
  max-width: 80%;
  margin: 20px auto 20px auto;
  box-shadow: 1px 0.5px 0.5px 0.5px rgba(0, 0, 0, 0.1), 1px 1px 1px 1px rgba(0, 0, 0, 0.05);
}

table th{
  border-top: 3px solid rgb(74,125,146);
  border-bottom: 3px solid rgb(74,125,146);
  background-color: rgb(53,110,132);
  text-align: center;
  padding: 8px;
  color: #dddddd;
}

table td{
  border: none;
  border-bottom: 0px solid #dddddd;
  text-align: left;
  padding: 3px;
  cursor: pointer;
}

table td input {
  box-sizing: border-box; /*genialne! Inaczej input wychodzi poza tabelke*/
  width: 100%;
  padding: 7px;
}

table.listContent tr:hover {
    transition-duration: 0.4s;
    background-color: #eeeeee;
}

table tr.selected, table tr:focus {
  background-color:rgb(209,225,233);
}

.icon {
  background-repeat: no-repeat;
  background-size: auto 100%;
  display: block;
  margin: 0px auto;
  width: 25px;
  height: 25px;
}

.icon.arrow{
  background-color: inherit;
  display: inline-block;
}
.icon.arrow.up{
  background-image:url('../../../assets/icons/up-arrow.png');
}
.icon.arrow.down{
  background-image:url('../../../assets/icons/down-arrow.png');
}

.icon.digital {
    background-image:url('../../../assets/icons/digital.png');
    color: red;
}
.icon.physical {
    background-image:url('../../../assets/icons/physical.png');
}
.icon.game {
    background-image:url('../../../assets/icons/game.png');
}
.icon.album {
    background-image:url('../../../assets/icons/album.png');
}

.headerTitle{
    border-left: 3px solid rgb(74,125,146);
    width: 70%;
    min-width: 100px;
}

.headerCategory{
    width: 15%;
    min-width: 50px;
}
.headerMedium{
    width: 15%;
    min-width: 50px;
}
.headerOperation {
  max-width: 25px;
  min-width: 25px;
  border-right: 3px solid rgb(74,125,146);
}

table tr td.itemTitle{
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 15px;
}

table tr td.itemTitle:hover {
  border-left: 3px solid rgb(74,125,146);
  padding-left: 13px;
}

table tr td.itemOperation {
  border-left: 1px solid #dddddd;
}
