<div>

<input id="itemSearcher" #myInput placeholder="Search item..." [(ngModel)]="name" (input)="filterItem(myInput.value)"/>

<div class="formContent">
  <input class="box title" #itemTitle placeholder="Title"/>
    <select class="box category" #itemCategory>
      <option value="" hidden>category</option>
      <option value="game">game</option>
      <option value="album">album</option>
    </select>
    <select class="box medium" #itemMedium>
      <option value="" hidden>medium</option>
      <option value="digital">digital</option>
      <option value="physical">physical</option>
    </select>
    <div class="box operation">
    <button class="box operation save"(click)="add(itemTitle.value, itemCategory.value, itemMedium.value); itemTitle.value=''; myInput.value=''">+</button>
  </div>
</div>

  <table class="listContent">
    <tr>
      <th class="headerTitle">
        <span><button (click)="sortByTitle()" class="icon arrow up">^</button></span>
        <span>Title</span>
        <span><button (click)="sortByTitleDesc()" class="icon arrow down">v</button></span>
      <th class="headerCategory">Category</th>
      <th class="headerMedium">Medium</th>
      <th class="headerOperation">Do</th>
    </tr>
    <tr *ngFor="let item of filteredItems" [class.selected]="item === selectedItem" (click)="onSelect(item)">
      <td class="itemTitle">{{item.title}}</td>
      <td class="itemCategory"><span class="icon {{item.category}}" title="{{item.category}}"></span></td>
      <td class="itemMedium"><span class="icon {{item.medium}}" title="{{item.medium}}"></span></td>
      <td class="itemOperation">
        <div *ngIf="item === selectedItem">
        <button class="operation delete"
        (click)="delete(item); myInput.value=''; $event.stopPropagation()">x</button>
      </div>
      </td>
    </tr>
  </table>
</div>
